<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--缓存提供者配置节点-->
    <section name="cacheProviderConfiguration" type="SD.CacheManager.CacheProviderConfiguration,SD.CacheManager"/>
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisConfiguration,SD.Toolkits.Redis" />
  </configSections>

  <!--缓存提供者配置-->
  <cacheProviderConfiguration type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis"/>

  <!--Redis服务器配置-->
  <redisConfiguration>
    <!--读写服务器地址列表-->
    <readWriteServers>
      <server name="WriteHost" host="192.168.3.27" port="6379" password="" />
    </readWriteServers>
    <!--只读服务器地址列表-->
    <readOnlyServers>
      <server name="ReadHost" host="192.168.3.27" port="6379" password="" />
    </readOnlyServers>
  </redisConfiguration>
</configuration>