<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--缓存配置节点-->
    <section name="cacheConfiguration" type="SD.CacheManager.Configuration.CacheConfiguration,SD.CacheManager"/>
  </configSections>

  <!--缓存配置，默认采用MemoryCache缓存-->
  <cacheConfiguration type="SD.CacheManager.Implements.MemoryCacheAdapter" assembly="SD.CacheManager"/>
</configuration>