<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.CacheManager配置节点-->
    <section name="sd.cacheManager" type="SD.CacheManager.CacheManagerSection, SD.CacheManager" />
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
  </configSections>

  <!--SD.CacheManager配置-->
  <sd.cacheManager>
    <!--缓存提供者-->
    <cacheProvider type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />
  </sd.cacheManager>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>