<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--缓存提供者配置节点-->
    <section name="cacheProviderConfiguration" type="SD.CacheManager.CacheProviderConfiguration,SD.CacheManager"/>
    <!--Memcached服务器配置节点-->
    <section name="memcachedConfiguration" type="SD.CacheManager.MemcachedConfiguration,SD.CacheManager.Memcached"/>
  </configSections>

  <!--缓存提供者配置-->
  <cacheProviderConfiguration type="SD.CacheManager.MemcachedProvider" assembly="SD.CacheManager.Memcached"/>

  <!--Memcached服务器配置-->
  <memcachedConfiguration>
    <!--服务器地址列表-->
    <memcachedServers>
      <server host="192.168.3.27" port="11211"/>
      <!--<server host="192.168.3.47" port="11211" />-->
    </memcachedServers>
  </memcachedConfiguration>
</configuration>
