<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--Memcached服务器配置节点-->
    <section name="memcachedConfiguration" type="SD.CacheManager.MemcachedSection,SD.CacheManager.Memcached"/>
    <!--SD.CacheManager配置节点-->
    <section name="sd.cacheManager" type="SD.CacheManager.CacheManagerSection, SD.CacheManager" />
  </configSections>

  <!--Memcached服务器配置-->
  <memcachedConfiguration>
    <!--服务器地址列表-->
    <memcachedServers>
      <server host="192.168.3.27" port="11211"/>
      <!--<server host="192.168.3.47" port="11211" />-->
    </memcachedServers>
  </memcachedConfiguration>

  <!--SD.CacheManager配置-->
  <sd.cacheManager>
    <!--缓存提供者-->
    <cacheProvider type="SD.CacheManager.MemcachedProvider" assembly="SD.CacheManager.Memcached" />
  </sd.cacheManager>
</configuration>
